/* *{
  margin-bottom: 10px;
}  */

/* ################## Uttiiti Class ############# */
.pink{
  background: pink;
  
}
.green{
  background: rgb(192, 255, 192);
  
}
.red{
  background: red;
  
}
.blue{
  background: rgb(0, 4, 255);
 
}
.black{
  border: 2px solid black;
}

.border{
  border: 2px solid black;
}





/* ################## */
.container-fluid{
    border: 2px solid black;
}
.container{
    border: 2px solid hsl(0, 0%, 0%);
}
.container-xxl{
  border: 2px solid hsl(130, 84%, 48%);
}
.container-xl{
  border: 2px solid hsl(46, 84%, 48%);
}
.container-lg{
  border: 2px solid hsl(300, 84%, 48%);
}
.container-md{
  border: 2px solid hsl(308, 84%, 48%);
}
.container-sm{
  border: 2px solid hsl(244, 84%, 48%);
}
/* .row{
  border: 2px solid red;
} */
/* .col{
  border: 2px solid green;
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  border: 2px solid green;
} */


/* ####### Gride Web Page ################## */
#main_div{
  background: grey;
}
#header{
  background: orange;
}
#menu{
  background: palevioletred;
}
#menu ul{
  list-style: none;
}
#menu ul li{
  display: inline-block;
}
#content{
  background: yellow;
}
#sidebar{
  background: yellowgreen;
}
#footer{
  background: orange;
}

/* ################  Offset   ############### */
/* .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
{
  border: 2px solid rgb(0, 0, 0);

} */

/* ############### Alignment ################### */
#Virtical_Content{
  height: 800px;
}
#Virtical_Content_Sefl{
  height: 400px;
}

/* ############# NAV Bare ##################### */
.nav{
  background: darkcyan;
}
.nav-link{
  color: wheat;
}
.nav-link:hover{
  color: wheat;
  background: sandybrown;
}